# Erlang version
erlang_version=20.1

# Elixir version
elixir_version=1.5.2

# Always rebuild from scratch on every deploy?
always_rebuild=false

# A command to run right before compiling the app (after elixir, .etc)
pre_compile="pwd"

# A command to run right after compiling the app
post_compile="pwd"

# Set the path the app is run from
runtime_path=/app

config_vars_to_export=(DATABASE_URL SECRET_KEY_BASE)
